{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Phone</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for adv in advs %}
            <tr>
                <td>
                    <a href="{% url 'adv:detail' adv.id %}">{{ adv.title }}</a>
                </td>
                <td>{{adv.phone}}</td>
                <td>{{adv.price}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}